{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"]
}
